<h1 style="font-family: sans-serif; color: #c0282d;"><%= @monitor.name %> is down.</h1>

<% if @expected_by %>
  <p style="font-family: sans-serif; color: #62626c;">
    No ping arrived by
    <span style="font-family: monospace;"><%= @expected_by.utc.strftime("%Y-%m-%d %H:%M UTC") %></span>.
    Check your job logs to see what happened.
  </p>
<% else %>
  <p style="font-family: sans-serif; color: #62626c;">
    The job missed its expected check-in. Check your job logs to see what happened.
  </p>
<% end %>

<p style="font-family: sans-serif;">
  <%= link_to "View monitor", monitor_url(@monitor), style: "color: #5b53eb;" %>
</p>
