<h1 style="font-family: sans-serif; color: #177a3d;">Your monitor has recovered</h1>

<p style="font-family: sans-serif; color: #26262c;">
  <strong style="font-family: monospace;"><%= @monitor.name %></strong>
  pinged again and is back <strong>up</strong>.
</p>

<% if @monitor.last_ping_at %>
  <p style="font-family: sans-serif; color: #62626c;">
    Last ping
    <span style="font-family: monospace;"><%= @monitor.last_ping_at.utc.strftime("%Y-%m-%d %H:%M UTC") %></span>.
  </p>
<% end %>

<p style="font-family: sans-serif;">
  <%= link_to "View monitor", monitor_url(@monitor), style: "color: #5b53eb;" %>
</p>
