<h1 style="font-family: sans-serif; color: #177a3d;"><%= @monitor.name %> is back up.</h1>

<% if @monitor.last_ping_at %>
  <p style="font-family: sans-serif; color: #62626c;">
    A ping arrived at
    <span style="font-family: monospace;"><%= @monitor.last_ping_at.utc.strftime("%Y-%m-%d %H:%M UTC") %></span>.
    Your job is running again.
  </p>
<% else %>
  <p style="font-family: sans-serif; color: #62626c;">
    Your job is running again.
  </p>
<% end %>

<p style="font-family: sans-serif;">
  <%= link_to "View monitor", monitor_url(@monitor), style: "color: #5b53eb;" %>
</p>
